// Color variable
$primary-color: #E9248C;
$secondary-color: #425CBE;
$paragraph-color: #4A4A4A;
$white: #FFFFFF;
$black: #000000;
$lavender-blush: #FFEBF0;
$nobel: #979797;
$black-pearl: #11171E;
$light-gray: #CACACA;
$gray: #7B7B7B;
$gray-blakish: #8F8F8F;
$bismark: #487178;
$sonic-silver: #757575;
$gold-tips: #E2C314;
$indigo: #4059C1;
$rose-white: #FFF8F8;
$dusty-gray: #949494;
$dusty-gray2: #9B9B9B;
$silver: #BDBDBD;
$gray71: #b5b5b5;
$gainsboro: #D8D8D8;
$lightgray: #818181;
$sapphire: #101F6D;
$killarney: #467949;
$scarlet: #EC2016;
$cinnabar: #e92424;
$sapphire: #12226B;
$freespeechblue: #3e56c4;
$gainsboro: #dfdfdf;
$gainsborodc: #DCD8D8;
$killarney48: #48784b;
$nobel: #989898;
$azure: #ecf0f1;
$very-light-grey: #C9C9C9;
$matterhorn: #4C4C4C;
$night-rider: #333;
$gray93: #ededed;
$matterhorn: #565656;
$whisper: #eeeeee;

// Main variable
$body-bg: $white;
$footer-bg: $black-pearl;
$body-paragraph: $paragraph-color;
$after-scroll: $white;


// Width variable
$container-width: 1330px;
$sm-container: 1030px;
$tb-container: 768px;

