:root {
  --action-icon: #3d70b2;
}

.cursor-pointer {
  &.text-70 {
    color: var(--action-icon);
  }
}

.btn-primary {
  background-color: var(--action-icon);
}

.bg-primary {
  background-color: var(--action-icon);
}

.btn-icon {
  background-color: var(--action-icon);
}

.btn-icon {
  .fill-current{
    &.text-80 {
      color: var(--white);
    }
  }
}